body {
    color: #ffffff;
    background-color: #323232;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
}

/*JUMBOTRON*/
.jumbotron {
    margin-bottom: 30px;
    min-height: 50%;
    background-color: teal;
}

.jumbotron h1 {
	font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
}

.jumbotron p {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
    font-size: 18px;
    text-align: center;
}

/* Styles for main 3 columns of the game*/
#rndmNumbCol, #scoreCol, #buttnsCol {
	height: 150px;
	margin:auto;
	text-align: center;
	line-height: 150px;
	border-radius: 5px;
}

.col-md-3 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 25px;
}

.col-md-4 p {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 50px;
	letter-spacing: 3px;
	line-height: 140%;
	color: #F76666;
}

#rndmNumbCol, #scoreCol {
	background-color: #282828;
}

#buttnsCol {
	padding-right: 50px;
	padding-left: 50px;
}

#message {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	color: teal;
}

#resetCol {
	text-align: center;
	margin-top: 60px;
}

#reset {
    background-color: teal;
    text-align: center;
	color: #ffffff;
	padding-right: 40px;
	padding-left: 40px;
	letter-spacing: 1px;
}

#reset:hover {
	background-color: #D399DD;
	border-color: #935FA0;
}

.footer {
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background: teal;
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 1rem;
}